<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     {{>headerlinks}}
    <title>Weather Page</title>
  </head>
  <body>

    {{>navbar}}

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
        
        <div class="main_content">
            <form  class="temp_form">
                <input type="text"  id="cityName" placeholder="Enter the city name..." autocomplete="off">
                <input type="submit" value="Search" id="searchBtn">
            </form>
        </div>

        <div class="tempInformation">
            <div class="top_layer">
            <p id="day">Tuesday</p>
            <p class="today_data">22-09-2021</p>
            </div>

            <div class="main_layer">
                <p id="city_name" class="temping">Get information here..</p>
                <div class="middle_layer data_hide">
                <p class="city_temp">Temp</p>
                <p class="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i> </p>
                </div>
            </div>

        </div>
         

          </div>
        </div>
      </div>


    {{>footer}}

    <script src="js/main.js"></script>
  </body>
</html>
